/****************************************************************************************************
*   MuddX Theming File
*   Adapted from Stanford Theming File
*
*   Contains all the theme color definitions for the HMC's MuddX Platform
*
****************************************************************************************************/

//-----------------
//  Color variables (from Harvey Mudd palette unless noted)
//-----------------

// Primary colors: Gold and Black
$hmcgold: #EAAA00;
$hmcgold-80: lighten($hmcgold, 20%);
$hmcgold-60: lighten($hmcgold, 40%);
$hmcgold-40: lighten($hmcgold, 60%);
$hmcgold-20: lighten($hmcgold, 80%);
$hmcgold-10: lighten($hmcgold, 90%);

$hmcblack: #000000;

// Darker Blue
$hmcblue: #007FA3;
$hmcblue-80: lighten($hmcblue, 20%);
$hmcblue-60: lighten($hmcblue, 40%);
$hmcblue-40: lighten($hmcblue, 60%);

// Light Green
$hmcgreen: #B7BF10;
$hmcgreen-80: lighten($hmcgreen, 20%);
$hmcgreen-60: lighten($hmcgreen, 40%);
$hmcgreen-40: lighten($hmcgreen, 60%);

// Yellow
$hmcyellow: #FFD100;
$hmcyellow-80: lighten($hmcyellow, 20%);
$hmcyellow-60: lighten($hmcyellow, 40%);
$hmcyellow-40: lighten($hmcyellow, 60%);
$hmcyellow-20: lighten($hmcyellow, 80%);

// Lighter Blue or Cyan
$hmccyan: #00C1D5;
$hmccyan-80: lighten($hmccyan, 20%);
$hmccyan-60: lighten($hmccyan, 40%);
$hmccyan-40: lighten($hmccyan, 60%);

// Red
$hmcred: #A6192E;
$hmcred-80: lighten($hmcred, 20%);
$hmcred-60: lighten($hmcred, 40%);
$hmcred-40: lighten($hmcred, 60%);

// Brown
$hmcbrown: #603D20;
$hmcbrown-80: lighten($hmcbrown, 20%);
$hmcbrown-60: lighten($hmcbrown, 40%);
$hmcbrown-40: lighten($hmcbrown, 60%);

// Orange
$hmcorange: #E57200;
$hmcorange-80: lighten($hmcorange, 20%);
$hmcorange-60: lighten($hmcorange, 40%);
$hmcorange-40: lighten($hmcorange, 60%);

// Gray
$hmcgray: #5B6770;
$hmcgray-80: lighten($hmcgray, 20%);
$hmcgray-60: lighten($hmcgray, 40%);
$hmcgray-40: lighten($hmcgray, 60%);

//Cardinal Color Variables
$cardinal-red: #8C1515;
$dark-red: #820000; //Link Color
$cardinal-light: #c83737; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$cardinal-bg: #e9afaf; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Beige Color Variables
$beige: #9d9573;
$beige-60: lighten($beige, 18.5%); //Main Border/HR Color
$beige-25: lighten($beige, 25%); 

//Sandstone Color Variables
$sandstone: #ddcf99;
$sandstone-50: lighten($sandstone, 9%);
$sandstone-25: lighten($sandstone, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #303c3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #dfe6e9; //Block/Course BG Color
$gray-2: #ebf1f2;
$gray-1: #f9fbfb; //Main BG Color




//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
// $header-bg: transparentize(hmcgold-20, .25);
$header-bg: $hmcblack;
$courseware-header-image: none;
//$courseware-header-bg: transparentize(hmcgold-20, .25);
$courseware-header-bg: $hmcblack;
$footer-bg: transparentize(hmcgreen, .5);
$courseware-footer-border: 1px solid $hmcblue-80;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

//$faded-hr-image-1: linear-gradient($beige-60 0%, $beige-60);
$faded-hr-image-1: linear-gradient($hmcgreen-80 0%, $hmcgreen-80);
$faded-hr-image-2: linear-gradient($hmcgreen-80 0%, $hmcgreen-80);
$faded-hr-image-3: linear-gradient($hmcgreen-80 0%, $hmcgreen-80);
$faded-hr-image-4: linear-gradient($hmcgreen-80 0%, $hmcgreen-80);
$faded-hr-image-5: linear-gradient($hmcgreen-80 0%, $hmcgreen-80);
$faded-hr-image-6: linear-gradient($hmcgreen-80 0%, $hmcgreen-80);

$base-font-color: $gray;
$lighter-base-font-color: $gray-75;
$very-light-text: $gray-1;

$link-color: $hmcblue;
$link-hover: $hmcblue-80;
$selection-color-1: $hmcblue-40;
$selection-color-2: $hmcblue-40;
$site-status-color: $hmcblue-40;

$button-color: $hmcblue;
$button-archive-color: $gray-3;

$shadow-color: $gray;

$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

$border-color-1: transparentize(hmcgreen, .5);
$border-color-2: transparentize(hmcgreen, .5);
$border-color-3: transparentize(hmcgreen, .5);
$outer-border-color: transparentize(hmcgreen, .5);

$sidebar-color: $gray-1;

$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $hmcgold-40;
$dashboard-profile-color: $gray-3;
$dot-color: transparentize(hmcgreen, .5);

$course-bg-color: $gray-3;
$course-bg-image: none;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: '../themes/stanford/images/stanford-pano.jpg';

$video-thumb-url: '../themes/stanford/images/stanford-video-thumb.png';